<%# CSS・・・assets/stylesheets/toppage.css %>

<title>民藝 × 丁寧な暮らし</title>

<div class="slide">
  <div class="bgImg srcImage1"></div>
  <div class="bgImg srcImage2"></div>
  <div class="bgImg srcImage3"></div>
  <div class="bgImg srcImage4"></div>

  <div class="main">
    <%# アイコン %>
    <div class='search-bar-contents'>
      <%= link_to image_tag("top_logo.png", class:"top-icon"), "/" %>
    </div>

    <%# カテゴリ %>
    <div class='nav'>
      <ul class='lists-left'>
        <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
        <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
      </ul>

      <%# ユーザー機能 %>

      <ul class='lists-right'>  
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
          <li><%= link_to '出品する', new_item_path, class: "purchase-list" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>

      <%# 検索欄 %>

      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%# <%= image_tag "search.png", class:"search-icon" %> %>
        </button>
      </form>

    </div>
  </div>
</div>