<div class="new-contents">

<%= form_with model: @my_page, url: user_my_pages_path, method: :post, local: true do |f| %>

  <%# エラー表示部分 %>
  <div class='error-flash-message'>
    <%= render 'shared/error_messages', model: f.object %>
  </div>
  
  <%# 画像 %>
  <div class="form">
    <div class="weight-bold-text">
      アカウント画像<span class="must">*</span>
    </div>
    <div class="click-upload">
      <%= f.file_field :image, data: {index: 0}, class: "preview-img" %>
    </div>
  </div>
  <%# /画像 %>

  <div class="form">
    <div class="weight-bold-text">
      代表者名（公開）<span class="must">*</span>
    </div>
    <%= f.text_field :name, placeholder: "#{current_user.nickname}", class: "new-text" %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      作品作りに対する想いやあなたの工房の歴史など、ご自由にご記入ください（公開）<span class="must">*</span>
    </div>
    <%= f.text_area :profile, placeholder: "よろしくお願いします", class: "new-text" %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      作り手さんの年代を教えてください<span class="must">*</span>
    </div>
    <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      工房・アトリエ名（公開）<span class="must">*</span>
    </div>
    <%= f.text_field :atelier, placeholder: "どんぐり工房", class: "new-text" %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      所在地（公開）<span class="must">*</span>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
    <%= f.text_field :place, placeholder: "○○市××町・・・", class: "new-text" %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      伝統技術の名称（公開）<span class="must">*</span>
    </div>
    <%= f.text_field :bland, placeholder: "会津うるし塗", class: "new-text" %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      ウェブサイト・SNS（公開）
    </div>
    <%= f.text_field :website, class: "new-text" %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"btn" %>
  </div>

<% end %>

</div>