<%= render "shared/second-header"%>

<div class="items-sell-contents">

  <div class='form-header'>
    <h1 class='form-header-text'>商品出品登録</h1>
    <p class="form-acounthelp"><span class="must">*</span> は必須項目です</p>
  </div>


    <%= form_with model: @item_form, url: item_path(@item.id), method: :patch, id: 'new_item', local: true do |f| %>

    <%# エラー表示部分 %>
    <div class='error-flash-message'>
      <%= render 'shared/error_messages', model: f.object %>
    </div>
    
    <%# 商品画像 %>
    <div class="img-upload">
      
      <div class="image-field">
        <div id="previews"></div>
        <div class="click-upload">
    
        </div>
      </div>
    </div>
    
    <%# /商品画像 %>

    <%# 画像以下 %>

    <div class="new-items">


      <%# 画像 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          商品画像<span class="must">*</span>
        </div>
        <%= f.file_field :images, name: 'item_form[images][]', data: {index: 0}, class: "preview-img" %>
      </div>


      <%# 商品名 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          商品名<span class="must">*</span>
        </div>
        <%= f.text_area :product, class: "new-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      </div>

      <%# 商品説明 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          商品の説明<span class="must">*</span>
        </div>
        <%= f.text_area :content, class:"new-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>

      <%# カテゴリー %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          カテゴリー<span class="must">*</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <%# タグ %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          商品タグ（例：キッチン、冠婚葬祭、プレゼント）
        </div>
        <%= f.text_field :tag_name, placeholder: 'タグを追加', class:"tag-box" %>
      </div>

      <%# 送料 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          配送料の負担<span class="must">*</span>
        </div>
        <%= f.collection_select(:postage_id, Postage.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
      </div>

      <%# 発送日 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          発送までの日<span class="must">*</span>
        </div>
        <%= f.collection_select(:delivery_day_id, DeliveryDay.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>


      <%# 販売価格 %>
      <div class="form-item-new">
        <div class="weight-bold-text">
          価格<span class="must">*</span>
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price, class:"new-item-price", id:"item-price", placeholder:"例）1500" %>
      </div>

    
      <%# 下部ボタン %>
      <div class="sell-btn-contents">
        <%= f.submit "変更する" ,class:"sell-btn" %>
        <div>
          <%=link_to 'もどる', "/items/#{@item.id}", class:"back-btn" %>
        </div>
      </div>
      <%# /下部ボタン %>


    </div>

  <% end %>

</div>