<%= render "shared/second-header"%>

<h3>詳細ページ</h3>
<div class="posted-content">
  <%# 代表一枚 %>
  <%= image_tag @item.images[0], class: "main-image" %><br>
    <%# その他 %>
    <div class="posted-content-others">
      <% @item.images[1..-1].each do |image| %>
        <div class="other-images">
          <%= image_tag image, class: "other-image" %>
        </div>
      <% end %>
    </div>

  <%# 商品説明 %>
  <div class="content-product">
    <%= @item.content %>
  </div>

  <%# 商品価格、送料 %>
  <div class="content-product">
    <span><%= @item.price %>円<br>
    <%= @item.postage.name %></span>
  </div>

  <%# 配達予想、カテゴリー %>
  <div class="content-product">
    <%= @item.delivery_day.name %>
    <%= @item.category.name %>
  </div>
  
  <%# タグ %>
  <div>
    <div><%= @item.tags.first&.tag_name %></div>
  </div>

  <% if user_signed_in?%>
    <% if current_user.id == @item.user_id %>
      <%= link_to '編集する', edit_item_path(@item.id), method: :get, class: "item-edit" %>
      <%= link_to '削除する', item_path(@item.id), method: :delete, class:"item-destroy" %>
    <% else %>
      <%= link_to '購入する', "#" %>
    <% end %>
  <% end %>

</div>